
# JetBrains Rider
.idea/
*.sln.iml


# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# System dependent files
.DS_Store

# Coverage
*.opencover.xml
src/app/
*.v2
/.vs/
/CRM.Library.Services/bin/
/CRM.Library.Services/obj/
/CRMLibrary.UI/bin/
/CRMLibrary.UI/libman.json
/CRMLibrary.UI/obj/
/CRMLibrary.UI/wwwroot/images/
/CRMLibrary.UI/wwwroot/lib/
/DAL/bin/
/DAL/obj/
/logs/
