
# JetBrains Rider
.idea/
*.sln.iml


# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# System dependent files
.DS_Store

# Coverage
*.opencover.xml
src/app/
*.v2
/CRM.Library.Services/CRMLibrary.Services.csproj
/CRM.Library.Services/obj/
/CRMLibrary.RESTAPI/bin/
/CRMLibrary.RESTAPI/CRMLibrary.RESTAPI.csproj
/CRMLibrary.RESTAPI/obj/
/CRMLibrary.RESTAPI/Properties/launchSettings.json
/CRMLibrary.sln
/CRMLibrary.UI/CRMLibrary.UI.csproj
/CRMLibrary.UI/CRMLibrary.UI.csproj.user
/CRMLibrary.UI/obj/
/CRMLibrary.UI/Properties/launchSettings.json
/CRMLibrary.UI/wwwroot/favicon.ico
/CRMLibrary.UI/wwwroot/images/
/CRMLibrary.UI/wwwroot/lib/
/DAL/CRMLibrary.DAL.csproj
/DAL/obj/
/ef.txt
/logs/
