@model BookViewModel
@{
    ViewData["Title"] = "Edit";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<form class="form" method="post">
    <h2 class="form-heading">Edit book</h2>
    <div class="input-lg">
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" asp-for="Name" id="inputName" class="form-control first" placeholder="Name" required autofocus />
        <label for="inputPY" class="sr-only">Published Year</label>
        <input type="date" asp-for="PublishedYear" id="inputPY" class="form-control first" placeholder="PublishedYear" required />
        <label for="inputRedaction" class="sr-only">Redaction</label>
        <input type="text" asp-for="Redaction" id="inputRedaction" class="form-control first" placeholder="Redaction" required />
        <label for="inputPages" class="sr-only">Pages</label>
        <input type="number" asp-for="Pages" id="inputPages" class="form-control first" placeholder="Pages" required />
        <label for="inputSummary" class="sr-only">Summary</label>
        <input type="text" asp-for="Summary" id="inputSummary" class="form-control first" placeholder="Summary" required />
        <label for="inputAuthor" class="sr-only">Author</label>
        <input type="text" asp-for="Author" id="inputAuthor" class="form-control first" placeholder="Author" required />
        <label for="inputLocation" class="sr-only">Location</label>
        <input type="text" asp-for="Location" id="inputLocation" class="form-control first" placeholder="Location" required />
        <label for="inputIsAvailable" class="form-check-label">IsAvailable</label>
        <input type="checkbox" asp-for="IsAvailable" id="inputIsAvailable" class="form-check-input" placeholder="IsAvailable" required />
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </div>
</form>

