
@{
    ViewData["Title"] = "User Information";
}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/lib/vue-resource/vue-resource.js"></script>
<div class="jumbotron" id="info">
    <h1>User Information</h1>
    <p>
        <div id="tblUser" class="carousel slide" data-ride="carousel" data-interval="6000">
            <table border="1">
                <br />
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>SurName</th>
                        <th>INN</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Birthday</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(e,index) in users">
                        <td>{{index+1}}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.surName}}</td>
                        <td>{{e.inn}}</td>
                        <td>{{e.address}}</td>
                        <td>{{e.phone}}</td>
                        <td>{{e.birthday}}</td>
                        <td>{{e.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p>

    <form method="post" asp-controller="Auth" asp-action="LogOut">
        <a href="javascript:document.forms[0].submit()" class="btn btn-lg btn-primary">Log Out</a>
    </form>
</div>
<script>
    var app = new Vue({
        el: "#info",
        created: function () {
            this.init();
        },
        data: {
            users: null
        },
        computed: {
        },
        methods: {
            init: function () {
                this.getUsers();
            },
            getUsers: function () {
                this.$http.get('https://localhost:44330//api/user').then(response => {
                    this.users = response.data;
                }, response => {
                    console.log("Error get all books");
                });
            }
        }
    });
</script>

